<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat bot</h1>
    <!-- <%= name %>
    <%= id %>
     -->

    <h1>Chat app using Sockets</h1>
    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <input type="text" id="username" placeholder="username id.." />
    <input type="text" id="newmsg" placeholder="message..." />
    <span id="typing">typing...</span>
    <button id="btn">send</button>

    <ul id="msglist">
      <% for(let i=0; i < chats.length; i++){ %>
        <tr>
          <td><%= chats[i].user %> : <%= chats[i].content %> </td>
        </tr>
      <% } %>
    </ul>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();

      let startchat = document.getElementById('startchat')

      let btn = document.getElementById("btn");
      let inputMsg = document.getElementById("newmsg");
      let username = document.getElementById('username')
      let msgList = document.getElementById("msglist");
      let spanTyping = document.getElementById('typing')

      let receiveTypingId = null;
      let typingId = null

      spanTyping.style.display = 'none';

      socket.emit('join_room',{
          roomid: startchat.getAttribute('data-roomid')
      })
      btn.onclick = function exec() {
        socket.emit("msg_send", {
          msg: inputMsg.value,
          username: username.value,
          roomid: startchat.getAttribute('data-roomid')
        });
      };

      // startchat.onclick = function exec(){
      //   socket.emit('join_room',{
      //     roomid: startchat.getAttribute('data-roomid')
      //   })
      // }

      socket.on("msg_rcvd", (data) => {
        let limsg = document.createElement("li");
        limsg.innerText = `${data.username}: ${data.msg}`;
        msgList.appendChild(limsg);
      });

      socket.on('someone_typing',(data)=>{
        spanTyping.style.display = 'block';
        clearTimeout(receiveTypingId);
        receiveTypingId = setTimeout(()=>{
          spanTyping.style.display = 'none'
        },2000)
      })

      inputMsg.addEventListener('keypress',function(e){
        
        socket.emit('typing',{
          roomid: startchat.getAttribute('data-roomid')
        });
        clearTimeout(typingId)
         typingId = setTimeout(()=>{
           spanTyping.style.display = 'none'
        },2000)
      })
    </script>
  </body>
</html>
